@import 'tailwindcss';

@theme {
  --color-component: #f7e6c8;
  --color-secondary: #bb847d;
  --color-bgs : #eadddb;
  --color-primary: #c69f54;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}